<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.0.8223.0">
	<toolboxes>
		<toolbox name="PageControls" config:flags="1">
			<sections>
				<add name="Feather samples" config:flags="1">
					<tools>
						<add ordinal="1" name="SampleList" config:flags="1" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>